﻿
<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="card mb-3 border-0" style="max-width: 768px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Model.ImgUrl" class="card-img product" alt="Card image cap">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= Model.Score)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                    @if (Model.Amount > 0)
                    {
                        int product_price = Model.Amount > 0 ? Model.Price - (Model.Price * Model.Amount / 100) : Model.Price;
                        <p>$ <span class="discount">@Model.Price</span> @product_price</p>
                    }
                    else
                    {
                        <p>$ @Model.Price</p>
                    }
                    <label>Quantity: </label>
                    <div class="d-flex">
                        <div class="form-group amount">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button id="down" class="btn btn-default"><span class="fa fa-minus"></span></button>
                                </div>
                                <input type="text" id="myNumber" class="form-control input-number" value="1" />
                                <div class="input-group-btn">
                                    <button id="up" class="btn btn-default"><span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" id="add_product">Add</button>
                        </div>
                    </div>
                    <input type="hidden" id="product_id" value="@Model.Id" />
                </div>
            </div>
        </div>
    </div>
</div>