﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                <div class="card">
                    <img class="card-img-top product" src="@item.ImgUrl"
                         alt="Card image cap"
                         data-toggle="modal"
                         data-target="#exampleModal"
                         data-targeturl="@Url.Action("Detail","Product",new { id = item.Id })">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= item.Score)
                            {
                                <span class="fa fa-star checked"></span>
                            }
                            else
                            {
                                <span class="fa fa-star"></span>
                            }
                        }
                        @if (item.Amount > 0)
                        {
                            int product_price = item.Amount > 0 ? item.Price - (item.Price * item.Amount / 100) : item.Price;
                            <p>$ <span class="discount">@item.Price</span> @product_price</p>
                        }
                        else
                        {
                            <p>$ @item.Price</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

</div>
